<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src='https://cdn.jsdelivr.net/npm/marked/marked.min.js'></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
        <link href="../static/codemirror-5.49.2/lib/codemirror.css" rel="stylesheet">
        <script src="../static/codemirror-5.49.2/lib/codemirror.js" ></script>
        <link rel="../stylesheet" href="codemirror-5.31.0/theme/dracula.css"/>
        <link rel="../stylesheet" href="codemirror-5.31.0/addon/fold/foldgutter.css"/>
        <script src="../static/codemirror-5.49.2/addon/fold/foldcode.js"></script>
        <script src="../static/codemirror-5.49.2/addon/fold/foldgutter.js"></script>
        <script src="../static/codemirror-5.49.2/addon/fold/brace-fold.js"></script>
        <script src="../static/codemirror-5.49.2/addon/fold/comment-fold.js"></script>
        <script src="../static/codemirror-5.49.2/mode/go/go.js"></script>
        <script src="../static/codemirror-5.49.2/addon/edit/matchbrackets.js"></script>
        <script src="../static/js/editors.js"></script>
        <script src="../static/codemirror-5.49.2/addon/hint/show-hint.js"></script>
        <script src="../static/codemirror-5.49.2/addon/hint/anyword-hint.js"></script>
        <link href="../static/codemirror-5.49.2/addon/hint/show-hint.css" rel="stylesheet">

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>GOIMV</title>
        <link rel="stylesheet" href="https://www.layuicdn.com/layui/css/layui.css" media="all">
    </head>
    <body class="layui-layout-body">
        <div class="layui-layout layui-layout-admin">
            <div class="layui-header">
                <div class="layui-logo">GOIMV</div>
            </div>

            <div class="layui-side layui-bg-black">
                <div class="layui-side-scroll">
                    <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                    <ul class="layui-nav layui-nav-tree problem-list" id="problem-list" lay-filter="test">
                    </ul>
                </div>
            </div>

            <div class="layui-body" style="z-index:-1">
            <!-- 内容主体区域 -->
            <div class="layui-card">
                <div class="layui-card-header">题目</div>
                <div class="layui-card-body content"></div>
            </div>
            <div style="border: 1px solid #ddd; padding:1px"></div>

            <div class="editor" >
                <textarea class="editor-textarea" id="editor"  style="height: 400px;width:100%;z-index: -1"></textarea>
                <div style="padding: 5px; color:red;">快捷键 Ctrl + [ 自动补全</div>
            </div>
            <div class="">

                <button  class="layui-btn layui-btn run" type="button" onclick="codeinput.run()" >
                    运行
                </button>
                <button  class="layui-btn layui-btn-warm test" type="button" onclick="codeinput.test()" >
                        测试
                 </button>
            </div>
            <div class="col-md-8 result container " style="background-color: #eee;margin-top:8px; width: 100%; font-size:5px; height:200px; overflow:scroll; border:1px solid #ddd;font-size: large;white-space: pre-line">
            </div>
            </div>



            <div class="layui-footer">
                <!-- 底部固定区域 -->
                  liangsj.top
            </div>
        </div>
        <script src="https://www.layuicdn.com/layui/layui.js"></script>
        <script>
            //JavaScript代码区域
            layui.use('element', function(){
                var element = layui.element;

            });
        </script>
    </body>
</html>

